@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Cart_Layout";
}
@model IEnumerable<DemoSneakerStore.Models.Sell>

<div class="wrapper">
    <div class="sidebar" data-color="black" style="background-image: url(/images/sidebar-5.jpg)">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    Sneaker World
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a asp-action="Index" asp-controller="Cart">
                        <i class="pe-7s-user"></i>
                        <p>Cart</p>
                    </a>
                </li>
                <li class="active">
                    <a asp-action="History" asp-controller="Cart">
                        <i class="pe-7s-user"></i>
                        <p>History</p>
                    </a>
                </li>
                <li class="active">
                    <a asp-action="EditProfile" asp-controller="Main">
                        <i class="pe-7s-user"></i>
                        <p>Edit Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="main-panel" style="background-color: white">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Main">Shop</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @if (ViewBag.Account != null)
                            {
                                <a><p>@ViewBag.Account</p></a>
                            }
                            else
                            {
                                <a asp-action="Index" asp-controller="Login"><p>Login</p></a>
                            }
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>Menu<b class="caret"></b></p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Maker</a></li>
                                <li><a href="#">Category</a></li>
                                <li><a href="#">Origin</a></li>
                                <li><a href="#">Color</a></li>
                                <li><a href="#">Size</a></li>
                            </ul>
                        </li>
                        <li>
                            @if (ViewBag.Account != null)
                            {
                                <a asp-action="Logout" asp-controller="Login"><p>Log out</p></a>
                            }
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            @foreach (var item in Model)
            {
                <div class="row">
                    <h4>@Html.DisplayFor(modelItem => item.DateTime)</h4>
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <th style="font-weight: inherit" scope="col">Shoes</th>
                                    <th style="font-weight: inherit" scope="col">Price</th>
                                    <th style="font-weight: inherit" scope="col">Quantity</th>
                                    <th style="font-weight: inherit" scope="col">Pay</th>
                                </tr>
                                @foreach (var product in item.ExportBill)
                                {
                                    <tr>
                                        <td style="font-weight: lighter">@Html.DisplayFor(modelItem => product.Shoes.Name)</td>
                                        <td style="font-weight: lighter">@Html.DisplayFor(modelItem => product.Price)</td>
                                        <td style="font-weight: lighter">@Html.DisplayFor(modelItem => product.Quantity)</td>
                                        <td style="font-weight: lighter">@Html.DisplayFor(modelItem => product.Total)</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="font-weight: lighter"></td>
                                    <td style="font-weight: lighter"></td>
                                    <td style="font-weight: lighter"></td>
                                    <td style="font-weight: lighter"><h5>Total: @item.ExportBill.Sum(x => x.Price * x.Quantity)$</h5></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>

        <footer class="footer">
            <div class="container-fluid">

                <p class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> <a>SneakerFloat</a>, made with love for a better service
                </p>
            </div>
        </footer>
    </div>
</div>

<script src="/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/chartist.min.js"></script>
<script src="/js/bootstrap-notify.js" rel="script" type="text/javascript"></script>
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0" rel="script" type="text/javascript"></script>
